.header {
    position: absolute;
    width: 100%;
    background-color: grey;


    &_fixed-off {}

    &__container {}

    &__row {
        height: 79px;
        align-items: center;
    }

    &__col {}

    &__menu {}

    &__logo {
        display: flex;
        justify-content: center;

        &_position {
            padding-left: 20px;
        }
    }

    &__logo-link {}

    &__logo-title {}

    &__right-side {
        display: flex;
    }

    &__login-wrapper {}

    &__button-wrapper {
        display: inline-block;
        border-right: 1px solid white;
        border-left: 1px solid white;
        margin-left: -6px;
        margin-right: 20px;
    }

    &__login-text {
        &__position {}
    }

    &__login-button {
        padding: 25px 34px;
    }

    &__search {
        display: flex;
    }

    &__search-form {
        display: flex;
        padding-top: 20px;
    }

    &__search-input-wrapper {
        display: inline-block;
    }

    &__search-input {

        display: inline-block;
        // width: 261px;
        // display: none;
        // width: 135%;
        outline: none;
        width: 0%;
        opacity: 0;
        height: 32px;
        background: #f7f8f3;
        border: 2px solid #ced6af;
        margin-right: 15px;
        transition: width 0.4s ease-in-out;
    }



    &__search-svg-wrapper {
        padding-top: 10px;
        margin-left: 80px;
        margin-right: 10px;
    }

    &__search-svg {}

    &__search-button-wrapper {
        display: inline-block;
        padding-top: 3px;
    }

    &__search-button {
        // background-color: green;
        padding: 5px 5px;
        margin-right: 34px;
    }

    &__cart {
        display: flex;
        border-left: 1px solid white;
        padding: 20px 0 0 35px;
    }

    &__cart-link {
        // margin-left: 30px;
    }

    &__cart-count {}
}

.header__search-form .header__search-input:focus {
    width: 135%;
    opacity: 1;
}

// .header__search-form:hover .header__search-input {
//     width: 125%;
//     opacity: 1;
// }

// Add the searchActive class when hovering to the search button and increase the input field (script.js:19);
.searchActive {
    width: 135%;
    opacity: 1;
}

.searchActive2 {
    width: 0%;
    opacity: 0;
    transition: all 0.4s ease-out;
}


// div.header__search-button-wrapper>button:hover {
//     width: 1000%;
//     background-color: red;
// }



.container-fluid {}

.row {}

.col-4 {}

.menu {

    &__hidden {

        &_btn {}

        &_btn-line {}
    }

    &__items {
        display: flex;
    }

    &__item {
        // position: relative;
    }

    &__item-link {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            top: 120%;
            // left: 0;
            left: -20%;
            background-color: #9db892;
            transition: width 0.3s ease-out;
        }

        &:hover:after {
            // width: 100%;
            width: 141%;
        }

        &_position {
            margin-left: 47px;
        }
    }

}

.link {
    font-family: $font-default;
    @include adaptive-font-size (16, 14);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.5;
    text-decoration: none;
    letter-spacing: 0.06em;
    cursor: pointer;

}

.title {
    font-family: $font-default;
    @include adaptive-font-size (30, 18);
    line-height: 1.833;
    color: white;
    font-family: Oswald-Regular;

}

.btn {}


// Login form

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */


button {
    font-family: $font-default;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .link {}
}
